extends dashboardLayout

block content
  div(style="margin-bottom:1rem;")
    a(href="/dashboard/buckets") Back to Buckets
  h2(style="padding-bottom: 0.5rem;") Object Token:
    span(class="highlight") #{token}
