@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    overflow: hidden;
    font-size: 14px;
    font-family: "Inter";
    min-height: 100vh;
    height: 100%;
    margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.title {
    font-size: 3rem;
    font-weight: 800;
}

.description {
    font-size: 1.5rem;
    font-weight: 600;
}
.error {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signin-container {
    padding: 1rem;
    flex: 1;
    width: 50%;
    border-radius: 1rem;
    width: max-content;
}
#signin-root{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}
#banner {
    background-color: #1c1c1c;
    flex: 1;
    width: 50%;
    height: calc(100vh - 1rem);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

label {
    padding: 0.2rem 0;
    font-weight: 500;
}
input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(171, 171, 171);
    min-width: 12vw;
}
input:focus {
    outline: 0;
    border: 1px solid rgb(26, 26, 26)

}

input[type="submit"] {
    background-color: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 1rem;
}
input[type="submit"]:hover {
    background-color: #1c1c1c;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    background-color: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
button a {
    text-decoration: none;
    color: inherit;
}
button:hover {
    color: white;
    background-color: rgb(70, 70, 70);
}
.profile-picture {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 100%;
    object-position: center;
    object-fit: cover;
}
a {
    color: #333;
    transition: color 150ms ease-in-out;
}
input[type=file]::file-selector-button {
    background-color: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
input[type=file]::file-selector-button:hover{
    background-color: rgb(70, 70, 70);
}
.highlight{
    color: #000000;
    border: 1px solid #adadad;
    background-color: #f1f1f1;
    padding: 0.5rem;
    font-family: monospace;
    font-weight: 400;
    border-radius: 6px;
    font-size: 14px;
    margin: 8px;
}